@keyframes rainbow {
  12.5% {
    color: #FF0000;
  }
  25% {
    color: #FFA500;
  }
  37.5% {
    color: #FFFF00;
  }
  50% {
    color: #7FFF00;
  }
  62.5% {
    =color: #00FFFF;
  }
  75% {
    color: #0000FF;
  }
  87.5% {
    color: #9932CC;
  }
  100% {
    color: #FF1493;
  }
}
svg.homeIcon-r0w4ny {
  animation:spin 2s infinite;
  animation:rainbow 6s infinite;
}
